@import "../styles/fonts.css";

html {
  background-color: white;
  color: #252733;
}

a {
  color: black;
  text-shadow: none;
  background-image: none;
}

p a {
  text-decoration: none;
  background-image: linear-gradient(to top, rgb(255, 242, 118), rgb(255, 242, 118) 7px, rgba(0, 0, 0, 0) 7px);
}

p a:hover {
  background-image: linear-gradient(to top, #ff7676, #ff7676 7px, rgba(0, 0, 0, 0) 7px);
}

blockquote {
  border-left: 12px solid #ff7676;
  margin-left: 0;
  padding-left: 1.7rem;
}

blockquote p {
  font-size: 1.2rem;
  font-weight: 700;
}